<h1> Calculate Monthly Payment </h1>

<form action = "/payment/results">

  <label> APR </label>

  <input type = "text" name = "user_APR">

  <label> Number of years </label>

  <input type = "text" name = "user_Years">

  <label> Principal </label>

  <input type = "text" name = "user_Principal">

  <button>Calculate monthly payment</button>

</form>
