<h1> Calculate a Random Number </h1>

<form action = "/random/results">

  <label> Enter a number </label>

  <input type = "text" name = "user_min_number" placeholder="E.g. 1.5">
  <input type = "text" name = "user_max_number">

  <button>Pick random number</button>

</form>
