<h1> Square Root Results </h1>

<dl>
  <dt>
    Number
  </dt>
  <dd>
    <%=@user_square_root_input%>
  </dd>

  <dt>
    Square
  </dt>
  <dd>
    <%=@user_square_root_result %>
  </dd>
</dl>

<a href="/square_root/new">
  Calculate another square root
</a>

  </body>
</html>
